.Resume-container{
    padding-top: 50px;
    display: flex;
    /* grid-template-columns: 1fr 3fr; */
    gap: 60px;
    overflow-x: hidden;
}

.Resume-Column {
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
}


.Skill-Header{
    background-color: rgba(255, 68, 0, 0.7);
    color: white;
}

.Education-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: transparent;
}

.edu-icon{
    font-size: 3rem;
    margin-top: 1.5rem;
    width: fit-content;
}

.education-title{
    display: flex;
    gap: 20px;
    background-color: transparent;
}


@media screen and (max-width: 412px) {
    .Resume-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .Skills-Card{
        width: 100%;
    }
}

@media screen and (max-width: 512px) {
    .Resume-container{
        display: flex;
        flex-direction: column;
    }
}
 
@media screen and (max-width:810px) {    
    .Resume-container{
        display: flex;
        flex-direction: column;
    }
}
